.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
}
.logo {
  width: 8.5rem;
}
.list {
  font-family: "outfit";
  font-size: 1.5rem;
  display: flex;
  gap: 30px;
  align-items: center;
  padding-left: 3rem;
}
.list li {
  list-style: none;
}
.list_items a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}
.list_items a:hover {
  color: #60bafa;
}
.active {
  border-bottom: 2px solid #60bafa;
  padding-bottom: 4px;
}
.nav-btn {
  background: transparent;
  color: #eee;
  position: relative;
  margin-left: auto;
  margin-right: 2rem;
  border: initial;
  font-size: 1.5rem;
  width: 15rem;
  height: 3rem;
  font-family: "outfit";
  z-index: 2;
  cursor: pointer;
  transition: 1s;
}
.nav-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #582a53, #301d58);
  clip-path: circle(0% at 50% 50%);
  z-index: -1;
  width: 100%;
  height: 100%;
}
.nav-btn:hover::after {
  clip-path: circle(100% at 50% 50%);
  transition: clip-path 0.7s ease-in-out;
}
.nav-btn:hover {
  box-shadow: 0 0 10px #fff, -10px -10px 10px #000;
}
.menu-icon {
  fill: #fff;
  padding-right: 2.5rem;
  display: none;
}
.mobile-nav {
  position: fixed;
  top: 0;
  right: -300px;
  width: 30rem;
  height: 100vh;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: -10px 0px 10px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.7s ease-in-out;
}
.mobile-nav.toggle {
  right: 0px;
}
.m_logo {
  width: 8rem;
  padding-top: 8px;
  padding-left: 1rem;
}

.mobile-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cross-icon {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-right: 2rem;
}
.mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding-top: 1rem;
}
.mobile_list_items {
  list-style: none;
}
.mobile_list_items a {
  font-size: 1.8rem;
  color: #fff;
  text-decoration: none;
}
.mobile_btn {
  display: block;
  margin: auto;
  margin-top: 1.4rem;
}

@media (max-width: 750px) {
  .list {
    display: none;
  }
  .dekstop_btn {
    display: none;
  }
  .menu-icon {
    display: block;
    margin-left: auto;
    margin-right: 1rem;
  }
}
